html {
    background-color: #111;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}

.fieldsetlogin {
    width: 0;
}

input {
    background-color: #333;
    border: 1px solid #555;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}