html {
    background-color: #111;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2vh;
}

.delete::before {
    content: "⌫";
}

.delete {
    color: #cb3030;
}

.add::before {
    content: "➕";
}

.add {
    color: #76b343;
    font-size: 3vh;
}

a::before {
    content: "🔗";
}

a {
    color: #40b08d;
}

.fieldsetlogin {
    width: 0;
}

input {
    background-color: #333;
    border: 1px solid #555;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}

textarea {
    background-color: #333;
    border: 1px solid #555;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}

select {
    background-color: #333;
    border: 1px solid #555;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}

th {
    border: 1px solid #333;
    padding: 8px;
}