<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" 
            rel="stylesheet"> 
    </head>
    <body>
        <div>
            <h1>
                Promotor
            </h1>
            <div>
                Cédula: {{personal_info[0]}}
            </div>
            <div>
                Nombre: {{personal_info[1]}}
            </div>
            <div>
                Teléfono: {{personal_info[2]}}
            </div>
        </div>
        <div>
            <h1>
                Punto de Venta
            </h1>
            <div>
                Cadena: {{pos_info[0]}}
            </div>
            <div>
                Ciudad: {{pos_info[1]}}
            </div>
            <div>
                Dirección: {{pos_info[2]}}
            </div>
        </div>
        <div>
            <h2>
                Capacitaciones
            </h2>   
            <table>
                <tr>
                    <th>Tema</th>
                    <th>Nota</th>
                    <th>Fecha</th>
                    <th>Entrenador</th>
                </tr>
                {%for training in trainings%}
                    <tr>
                    {%for column in training%}
                    <th>
                        {{column}}
                    </th>
                    {%endfor%}
                    </tr>
                {%endfor%}
                <form>
                <tr>
                    <th>
                        <select id="topic" name="topic"></select>
                    </th>
                    <th>
                        <input id="grade" name="grade" type="number"
                        min="1" max="5" style="width: 40pt;">
                    </th>
                    <th>
                        <input id="date" name="date" type="date">
                    </th>
                    <th>
                        <select id="trainer" name="trainer"></select>
                    </th>
                </tr>
                </form>
            </table>
        </div>
        <div>
            <h2>
                Comentarios
            </h2>
            <table>
                <tr>
                    <th>Comentario</th>
                    <th>Fecha</th>
                    <th>Supervisor</th>
                </tr>
                {%for comment in comments%}
                    <tr>
                    {%for column in comment%}
                    <th>
                        {{column}}
                    </th>
                    {%endfor%}
                    </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>