<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" 
            rel="stylesheet"> 
    </head>
    <body>
        <div style="display: flex; justify-content: center;">
        <div>
        <form>
            <fieldset class="fieldsetlogin">
                <legend>Inicio de sesión</legend>
                <label for="id">Cedula:</label><br>
                <input type="text" id="id" name="id" required><br>
                <label for="id">Contraseña:</label><br>
                <input type="password" id="password" name="password" required>
                <br><br>
                <input type="submit" value="Ingresar" style="width: 100%;">
            </fieldset>
        </form>
        </div>
        </div>
    </body>
</html>