<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" 
            rel="stylesheet"> 
    </head>
    <body>
        <div>
            <h1>
                Promotor
            </h1>
            <div>
                Cédula: {{personal_info[0]}}
            </div>
            <div>
                Nombre: {{personal_info[1]}}
            </div>
            <div>
                Teléfono: {{personal_info[2]}}
            </div>
        </div>
        <div>
            <h2>
                Capacitaciones
            </h2>   
            <table>
                <tr>
                    <th>Tema</th>
                    <th>Nota</th>
                    <th>Fecha</th>
                    <th>Entrenador</th>
                </tr>
                {%for capacitation in capacitations%}
                    <tr>
                    {%for column in capacitation%}
                    <th>
                        {{column}}
                    </th>
                    {%endfor%}
                    </tr>
                {%endfor%}
            </table>
        </div>
        <div>
            <h2>
                Comentarios
            </h2>
            <table>
                <tr>
                    <th>Comentario</th>
                    <th>Fecha</th>
                    <th>Supervisor</th>
                </tr>
                <tr>
                    <th>Lorem ipsum quanqum dolorem sit amer per quanqum elinare limicote salana meliowa elieh</th>
                    <th>02/10/2021</th>
                    <th>Mario Bros</th>
                </tr>
            </table>
        </div>
    </body>
</html>